.row {
  @mixin clearfix;

  &--line-height {
    line-height: 0;
  }

  &--display {
    display: none;

    @mixin atMedium {
      display: block;
    }
  }

  &--gutters {
		margin-right: 0;

		@mixin atMedium {
			margin-right: -100px;
		}

		@mixin atLarge {
			margin-right: -200px;
		}
	}

	&--gutters > div {
		padding-right: 0;
		@mixin atMedium {
			padding-right: 100px;
		}

		@mixin atLarge {
			padding-right: 200px;
		}

	}

  &--gutters--small {
		margin-right: 0;

		@mixin atSmall {
			margin-right: -50px;
		}

		@mixin atLarge {
			margin-right: -100px;
		}
	}

	&--gutters--small > div {
		padding-right: 0;

		@mixin atSmall {
			padding-right: 50px;
		}

		@mixin atLarge {
			padding-right: 100px;
		}

	}

  &__small-6 {
			float: left;
			width: 50%;
	}

  &__small-4 {
    float: left;
    width: 33.33%;
  }

  @mixin atMedium {
    &__medium-2 {
        float: left;
        width: 16.6667%;
    }

    &__medium-3 {
      float: left;
      width: 25%;
    }

		&__medium-4 {
			float: left;
			width: 33.33%;
		}

		&__medium-6 {
			float: left;
			width: 50%;
		}

		&__medium-8 {
			float: left;
			width: 66.66%;
		}

    &__medium-9 {
      float: left;
			width: 75%;
    }

    &__medium-12 {
      float: left;
      width: 100%;
    }
	}

	@mixin atLarge {
		&__large-3 {
			float: left;
			width: 25%;
			padding: 25px;
		}

		&__large-4 {
			float: left;
			width: 33.33%;
		}


		&__large-6 {
			float: left;
			width: 50%;
		}

		&__large-8 {
			float: left;
			width: 66.66%;
		}

		&__hidden-at-medium {
			display: block;
		}

		&__hidden-at-large {
			display: none;
		}
	}
}
