.row {
  @mixin clearfix;

  &--gutters {
		margin-right: 0;

		@mixin atMedium {
			margin-right: -100px;
		}

		@mixin atLarge {
			margin-right: -200px;
		}
	}

	&--gutters > div {
		padding-right: 0;
		@mixin atMedium {
			padding-right: 100px;
		}

		@mixin atLarge {
			padding-right: 200px;
		}

	}

  &--gutters--small {
		margin-right: 0;

		@mixin atSmall {
			margin-right: -50px;
		}

		@mixin atLarge {
			margin-right: -100px;
		}
	}

	&--gutters--small > div {
		padding-right: 0;

		@mixin atSmall {
			padding-right: 50px;
		}

		@mixin atLarge {
			padding-right: 100px;
		}

	}

  @mixin atSmall {
    &__small-6 {
			float: left;
			width: 50%;
		}
  }

  @mixin atMedium {
		&__medium-4 {
			float: left;
			width: 33.33%;
		}

		&__medium-6 {
			float: left;
			width: 50%;
		}

		&__medium-8 {
			float: left;
			width: 66.66%;
		}
	}

	@mixin atLarge {
		&__large-3 {
			float: left;
			width: 25%;
			padding: 25px;
		}

		&__large-4 {
			float: left;
			width: 33.33%;
		}


		&__large-6 {
			float: left;
			width: 50%;
		}

		&__large-8 {
			float: left;
			width: 66.66%;
		}

		&__hidden-at-medium {
			display: block;
		}

		&__hidden-at-large {
			display: none;
		}
	}
}
